body{
    background: linear-gradient(to top, red,blue, yellow, violet);
    background-repeat: no-repeat ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,p{
  font-size: 50px;  
}